# Environments
gemini/test_gemini.py
gemini/
.env
.venv
env/
venv/
ENV/
env.bak/

# Python
__pycache__/
*.py[cod]
*.class
**/__init__.py

# Temporary uploads
temp_uploads/

# Credentials & Secrets
*credentials*.json
*secret*.json
*key*.json
*service_account*.json
prophet_muhammad.json

